<div class = 'cajaNavegacion'>
  <a class = 'botonNavegacion' routerLink = '/crearFactura'>
      <ion-icon name="document-outline" class = 'navegacionBoton'></ion-icon> Nueva Factura
  </a>
  <a class = 'botonNavegacion' routerLink = '/'>
      <ion-icon name="home-outline" class = 'navegacionBotonDerecha'></ion-icon>
  </a>
</div>

<router-outlet></router-outlet>

<section *ngIf = '!route' class = 'cajaLista'>
  <div class = 'columnas'>
    <label class = 'etiqueta'>
      <ion-icon name="search-circle-outline"></ion-icon>Buscar
    </label>
    <input type = 'text' class = 'cajaBusqueda' (keyup) = 'buscarFactura($event)'>
  </div>
  <ul *ngFor = 'let factura of facturas; let i = index'>
      <li id = 'lista'>{{i+1}}. {{factura.nombre}} {{factura.apellido}}, diligencias: [<span *ngFor = 'let diligencia of factura.descripcion'>{{diligencia}}, </span>], fecha: {{factura.fecha}}</li>
      <div class = 'columna'>
        <button class = 'botonFinalI' (click) = 'imprimir(factura.idn)'>
            <ion-icon name="create-outline"></ion-icon> Imprimir
        </button>
      </div>
      <div class = 'columna'>
        <button class = 'botonFinalI' (click) = 'modificar(factura.idn)'>
            <ion-icon name="create-outline"></ion-icon> Modificar
        </button>
      </div>
      <div class = 'columna'>
        <button class = 'botonFinalI' (click) = 'eliminarFactura(factura)'>
            <ion-icon name="trash-outline"></ion-icon>
        </button>
      </div>
  </ul>
</section>
