<div>
  <button class = 'botonFinalI' (click) = 'descripcionFactura(factura)' *ngIf = 'condicional'>Actualizar</button>
</div>
<div>
  <section class = 'caja'>
    <form>
      <table class = 'formulario'>
        <tr>
          <td colspan = '4'>
            <header class = 'caja'>
              <div class = 'imagen1'>
                <img src = '../assets/icono.jpg' alt = 'Logo Ruben Dario Galvis Loaiza' height = '200px' width = '200px'/>
              </div>
              <div class = 'titulo'>
                <h2 class = 'tituloMediano'>Instituto de movilidad Pereira</h2>
                <h3 class = 'tituloPequeño'>Nit: 816000558</h3>
                <h3 class = 'tituloPequeño'>Para: GALCAS Jurídico-Asesores</h3>
                <h1 class = 'tituloGrande'>Factura</h1>
              </div>
              <div class = 'imagen2'>
                <img src = '../assets/GALCAS1.jpg' alt = 'Logo GalCas Jurídico-Asesores' height = '180px'/>
              </div>
            </header>
          </td>
        </tr>
        <tr>
          <td>
            <label>Número de factura:</label>
            <div>{{factura.idn}}</div>
          </td>
          <td colspan = '3'>
            <label>Fecha de factura:</label>
            <div>{{factura.fecha}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label>Factura a: </label>
            <div>{{factura.nombre}} {{factura.apellido}}</div>
          </td>
          <td class = 'informacionFactura' colspan = '3'>
            <p>GALCAS</p>
            <div class = 'informacionFacturaMenor'>Asesorías de transito</div>
            <div class  = 'informacionFacturaMenor'>Wp: 3505929427</div>
          </td>
        </tr>
        <tr>
          <th>
            <label>Descripción</label>
          </th>
          <th>
            <label>Precio c/u</label>
          </th>
          <th>
            <label>Cantidad</label>
          </th>
          <th>
            <label>Total</label>
          </th>
        </tr>
        <tr *ngFor = 'let diligencia of arregloDiligencias; let i = index'>
          <td>
            <div>{{diligencia.diligencia}}</div>
          </td>
          <td>
            <div>{{diligencia.precio | currency:'COP':'symbol-narrow'}}</div>
          </td>
          <td>
            <div>
              <div>{{diligencia.cantidad}}</div>
              <input type = 'number' class = 'entrada' value = '' disabled>
            </div>
          </td>
          <td>
            <div>{{(diligencia.precio * diligencia.cantidad) | currency:'COP':'symbol-narrow'}} COP</div>
          </td>
        </tr>
        <tr *ngFor = 'let diligencia of arregloDescripciones; let i = index'>
          <td>
            <div>{{diligencia.diligencia}}</div>
          </td>
          <td>
            <div>{{diligencia.precio | currency:'COP':'symbol-narrow'}}</div>
          </td>
          <td>
            <div>0</div>
          </td>
          <td>
            <div>0.00 COP</div>
          </td>
        </tr>
        <tr>
          <td colspan = 2></td>
          <td><label>Total a pagar:</label></td>
          <td>{{factura.total | currency:'COP':'symbol-narrow'}} COP</td>
        </tr>
      </table>
    </form>
  </section>
</div>