<section class = 'seccion'>
  <form (ngSubmit) = 'descripcionFactura(factura)'>
    <fieldset class = 'cajaFormulario'>
      <div>
        <div>
          <label for = 'fechaEntrada' class = 'etiquetas'>Fecha:</label>
          <div class = 'columnas'>
              <input class = 'entrada' type = 'datetime' value = '{{factura.fecha}}' disabled>
              <input class = 'entrada' type = 'datatime' name = 'fechaEntrada' placeholder = 'Nueva fecha' [(ngModel)] = 'fecha'>
          </div>
        </div>
    
        <div>
          <label class = 'etiquetas' for = 'NombreEntrada'>Nombre Cliente: </label>
          <div class = 'columnas'>
            <input class = 'entrada' type = 'string' value = '{{factura.nombre}}' disabled/>
            <input class = 'entrada' type = 'string' name = 'NombreEntrada' placeholder = 'Nuevo nombre' [(ngModel)] = 'nombre'/>
          </div>
        </div>
        <div>
          <label class = 'etiquetas' for = 'ApellidoEntrada'>Apellido Cliente: </label>
          <div class = 'columnas'>
            <input class = 'entrada' type = 'string' value = '{{factura.apellido}}' disabled/>
            <input class = 'entrada' type = 'string' name = 'ApellidoEntrada' placeholder = 'Nuevo apellido' [(ngModel)] = 'apellido'/>
          </div>
        </div>
    
        <div class = 'columnasMenor'>
          <label class = 'etiquetas bloque'>Descripción: </label>
        </div>
        <div class = 'columnasMayor'> 
          
          <label class = 'checkbox bloque'>Seleccionar o deseleccionar las diligencias: </label> 
          <button class = 'botonFinalI' (click) = 'descripcionFactura(factura)'>Restaurar diligencias</button>
          <div *ngFor = 'let descripcion of descripciones, let i = index' class = 'bloque'>
              <input *ngIf = 'descripcion.click; else clickFalse' class = 'entrada' type = 'checkbox' name = 'DescripcionEntrada' value = 'descripcion.diligencia' (change) = 'click(descripcion, i)' checked>
              <ng-template #clickFalse>
                  <input class = 'entrada' type = 'checkbox' name = 'DescripcionEntrada' value = 'descripcion.diligencia' (change) = 'click(descripcion, i)'>
              </ng-template>
              <label class = 'checkbox'> {{descripcion.diligencia}}</label>
              <label *ngIf = 'descripcion.click' class = 'checkboxPrecio'>{{descripcion.precio}}</label>
              <div *ngIf = 'descripcion.click'>
                <input type = 'number' class = 'entrada' name = 'ValorEntrada' placeholder = 'Precio' (keyup) = 'guardarPrecio($event)'>
                <input type = 'number' class = 'entrada' name = 'cantidadEntrada' placeholder = 'Cantidad' (keyup) = 'guardarCantidad($event)'>
                <button class = 'boton' type = 'button' (click) = 'nuevoPrecioCantidad(descripcion)'>
                    <ion-icon name="cash-outline"></ion-icon>
                </button>
            </div>
          </div>
    
          <div class = 'bloque'>
              <input class = 'entrada' type = 'checkbox' name = 'DescripcionEntradaOtros' id = 'otro' [(ngModel)] = 'nuevaDiligencia'/>
              <label class = 'checkbox' for = 'otro'> OTROS: </label>
              <div *ngIf = 'nuevaDiligencia'>
                <div class = 'columna'>
                    <label>Diligencia</label>
                    <input class = 'entrada' type = 'string' id = 'otraDiligenciaNombre' name = 'DiligenciaNombre' 
                    [(ngModel)] = 'DiligenciaNombre' required>
                </div>
                <div class = 'columna'>
                    <label>Precio</label>
                    <input class = 'entrada' type = 'number' id = 'otraDiligenciaPrecio' name = 'DiligenciaPrecio'
                    placeholder = 'precio' [(ngModel)] = 'DiligenciaPrecio' required>
                </div>
                <div class = 'columna'>
                    <label>Cantidad</label>
                    <input class = 'entrada' type = 'number' id = 'otraDiligenciaCantidad' name = 'DiligenciaCantidad'
                    placeholder = 'cantidad' [(ngModel)] = 'DiligenciaCantidad'>
                </div>
                <button class = 'boton' (click) = 'agregarDiligencia()'>Agregar diligencia</button>
            </div>
          </div>
        </div>
        <div>
          <div class = 'columnaMenor'> 
              <div class = 'etiquetas bloque'> Total:</div>
          </div>
          <div class = 'columnaMayor'>
              <div class = 'total' >{{factura.total | currency:'COP':'symbol-narrow'}} COP</div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div>
    <button class = 'botonFinalI Factura' (click) = 'modificarFactura()'>
      <ion-icon name="create-outline"></ion-icon> Modificar
    </button>
  </div>
</section>