<div *ngIf = 'nodoCancelar' class = 'cajaNavegacion'>
    <a class = 'botonNavegacion' routerLink = '/generarFactura'>
        <ion-icon name="print-outline" class = 'navegacionBoton'></ion-icon> Registro Facturas
    </a>
    <a class = 'botonNavegacion' routerLink = '/'>
        <ion-icon name="home-outline" class = 'navegacionBotonDerecha'></ion-icon>
    </a>
</div>



<section>
    <form (ngSubmit) = 'enviarFormulario()' *ngIf = '!nodoCancelar'>
        <fieldset class = 'cajaFormulario'>
            <legend class = 'leyenda'>Crear Factura</legend>

            <div>
                <input class = 'entrada' type = 'number' [(ngModel)] = 'idFactura' name = 'idFactura' disabled>
            </div>

            <div *ngIf = '!pinImprimir'>
                <div>
                    <label for = 'fechaEntrada' class = 'etiquetas'>Fecha:</label>
                    <div *ngIf ='automatico; else habilitarFecha'>
                        <input class = 'entrada' type = 'datetime'#fecha = 'ngModel' [(ngModel)] = 'fechaEntrada' name = 'fechaEntrada' disabled>
                        <button class = 'boton' (click) = 'fechaManual()'>Fecha Manual</button>
                    </div>
                    <ng-template #habilitarFecha>
                        <div>
                            <input class = 'entrada' type = 'date' name = 'fechaEntrada' [(ngModel)] = 'fechaEntrada'>
                            <button (click) = 'fechaAutomatica()' class = 'boton'>Fecha automática</button>
                        </div>
                    </ng-template>
                </div>

                <div>
                    <label class = 'etiquetas'>Nombre Cliente: </label>
                    <input class = 'entrada' type = 'string' name = 'NombreEntrada' placeholder = 'Ingresar nombre del cliente' #nombre = 'ngModel'
                    [(ngModel)] = 'nombreFormulario'/>
                </div>
                <div>
                    <label class = 'etiquetas'>Apellido Cliente: </label>
                    <input class = 'entrada' type = 'string' name = 'ApellidoEntrada' placeholder = 'Ingresar apellido del cliente' #apellido = 'ngModel'
                    [(ngModel)] = 'apellidoFormulario'/>
                </div>

                <div class = 'columnasMenor'>
                    <label class = 'etiquetas bloque'>Descripción: </label>
                </div>
                <div class = 'columnasMayor'> 
                    
                    <label class = 'checkbox bloque'>Seleccionar diligencias: </label> 
                    
                    <div *ngFor = 'let descripcion of descripciones, let i = index' class = 'bloque'>
                        <input *ngIf = 'descripcion.click; else clickFalse' class = 'entrada' type = 'checkbox' name = 'DescripcionEntrada' value = 'descripcion.diligencia' (change) = 'click(descripcion)' checked>
                        <ng-template #clickFalse>
                            <input class = 'entrada' type = 'checkbox' name = 'DescripcionEntrada' value = 'descripcion.diligencia' (change) = 'click(descripcion)'>
                        </ng-template>
                        <label class = 'checkbox'> {{descripcion.diligencia}}</label>
                        <label *ngIf = 'descripcion.click' class = 'checkboxPrecio'>{{descripcion.precio}}</label>
                        <div *ngIf = 'descripcion.click'>
                            <input type = 'number' class = 'entrada' name = 'ValorEntrada' placeholder = 'Precio' (keyup) = 'guardarPrecio($event)'>
                            <input type = 'number' class = 'entrada' name = 'cantidadEntrada' placeholder = 'Cantidad' (keyup) = 'guardarCantidad($event)'>
                            <button class = 'boton' type = 'button' (click) = 'nuevoPrecioCantidad(descripcion)'>
                                <ion-icon name="cash-outline"></ion-icon>
                            </button>
                        </div>
                    </div>

                    <div class = 'bloque'>
                        <input class = 'entrada' type = 'checkbox' name = 'DescripcionEntradaOtros' id = 'otro' [(ngModel)] = 'otro'>
                        <label class = 'checkbox' for = 'otro'> OTROS: </label>
                        <div *ngIf = 'otro'>
                            <div class = 'columna'>
                                <label>Diligencia</label>
                                <input class = 'entrada' type = 'string' id = 'otraDiligenciaNombre' name = 'DiligenciaNombre' 
                                [(ngModel)] = 'DiligenciaNombre' required>
                            </div>
                            <div class = 'columna'>
                                <label>Precio</label>
                                <input class = 'entrada' type = 'number' id = 'otraDiligenciaPrecio' name = 'DiligenciaPrecio'
                                placeholder = 'precio' [(ngModel)] = 'DiligenciaPrecio' required>
                            </div>
                            <div class = 'columna'>
                                <label>Cantidad</label>
                                <input class = 'entrada' type = 'number' id = 'otraDiligenciaCantidad' name = 'DiligenciaCantidad'
                                placeholder = 'cantidad' [(ngModel)] = 'DiligenciaCantidad'>
                            </div>
                            <button class = 'boton' (click) = 'agregarDiligencia()'>Agregar diligencia</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class = 'columnaMenor'> 
                        <div class = 'etiquetas bloque'> Total:</div>
                    </div>
                    <div class = 'columnaMayor'>
                        <div class = 'total' >{{totalFactura | currency:'COP':'symbol-narrow'}} COP</div>
                    </div>
                </div>
            </div>
            
            <div *ngIf = 'pinImprimir'>
                <div>
                    <label for = 'fechaEntrada' class = 'etiquetas'>Fecha:</label>
                    <div *ngIf ='automatico; else habilitarFecha'>
                        <input class = 'entrada' type = 'datetime' #fecha = 'ngModel' [(ngModel)] = 'fechaEntrada' name = 'fechaEntrada' disabled>
                        <button class = 'boton' (click) = 'fechaManual()' disabled>Fecha Manual</button>
                    </div>
                    <ng-template #habilitarFecha>
                        <div>
                            <input class = 'entrada' type = 'date' name = 'fechaEntrada' [(ngModel)] = 'fechaEntrada' disabled>
                            <button (click) = 'fechaAutomatica()' class = 'boton' disabled>Fecha automática</button>
                        </div>
                    </ng-template>
                </div>

                <div>
                    <label class = 'etiquetas'>Nombre Cliente: </label>
                    <input class = 'entrada' type = 'string' name = 'NombreEntrada' placeholder = 'Ingresar nombre del cliente' #nombre = 'ngModel'
                    [(ngModel)] = 'nombreFormulario' disabled/>
                </div>
                <div>
                    <label class = 'etiquetas'>Apellido Cliente: </label>
                    <input class = 'entrada' type = 'string' name = 'ApellidoEntrada' placeholder = 'Ingresar apellido del cliente' #apellido = 'ngModel'
                    [(ngModel)] = 'apellidoFormulario' disabled/>
                </div>

                <div class = 'columnasMenor'>
                    <label class = 'etiquetas bloque'>Descripción: </label>
                </div>
                <div class = 'columnasMayor'> 
                    
                    <label class = 'checkbox bloque'>Seleccionar diligencias: </label> 
                    
                    <div *ngFor = 'let descripcion of descripciones, let i = index' class = 'bloque'>
                        <input *ngIf = 'descripcion.click; else clickFalse' class = 'entrada' type = 'checkbox' name = 'DescripcionEntrada' value = 'descripcion.diligencia' (change) = 'click(descripcion)' checked disabled>
                        <ng-template #clickFalse>
                            <input class = 'entrada' type = 'checkbox' name = 'DescripcionEntrada' value = 'descripcion.diligencia' (change) = 'click(descripcion)' disabled>
                        </ng-template>
                        <label class = 'checkbox'> {{descripcion.diligencia}}</label>
                        <label *ngIf = 'descripcion.click' class = 'checkboxPrecio'>{{descripcion.precio}}</label>
                    </div>

                    <div class = 'bloque'>
                        <input class = 'entrada' type = 'checkbox' name = 'DescripcionEntradaOtros' id = 'otro' [(ngModel)] = 'otro' disabled>
                        <label class = 'checkbox' for = 'otro'> OTROS: </label>
                    </div>
                </div>
                <div>
                    <div class = 'columnaMenor'> 
                        <div class = 'etiquetas bloque'> Total:</div>
                    </div>
                    <div class = 'columnaMayor'>
                        <div class = 'total' >{{totalFactura | currency:'COP':'symbol-narrow'}} COP</div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div *ngIf = '!pinImprimir && !nodoCancelar' class = 'bloque'>
        <div class = 'columnas'>
            <button type = 'button' class = 'botonFinalI' (click) = 'enviarFormulario()'>Guardar Factura</button>
        </div>
        <div class = 'columnas'>
            <button type = 'button' class = 'botonFinalI' (click) = 'cancelar()'>Cancelar</button>
        </div>
    </div>
    <div>
        <div *ngIf = 'pinImprimir' class = 'columnas'>
            <button type = 'button' routerLink = '/imprimir' class = 'botonFinalI'>   
                <ion-icon name="print-outline" class = 'navegacionBoton'></ion-icon> Crear PDF Factura 
            </button>
        </div>
        <div *ngIf = 'pinImprimir || nodoCancelar' class = 'columnas'>
            <button type = 'button' class = 'botonFinalI' (click) = 'nuevaFactura()'>Nueva Factura</button>
        </div>
        <div *ngIf = 'pinImprimir' class = 'columnas'>
            <button type = 'button' routerLink = '/' class = 'botonFinalI'>Inicio</button>
        </div>
    </div>
</section>