.lineaGruesa{
    max-width: 90%;
    border: 3px solid #000001;
}
.lineaFormulario{
    max-width: 90%;
    border: 1px solid hwb(0 75% 25%);
}
.caja{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    display: inline;
}
.cajaLista{
    max-width: 90%;
    min-height: 300px;
    border: 1px solid;
    margin: 0 auto;
    font-size: 20px;
    background-color: #b8c9ff;
    text-align: center;
}
.cajaLista a{
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}
.botonEditar{
    padding: 10px;
    border: 1px solid;
    display: block;
    margin: 10px auto;
    background-color: black;
    width: 20%;
}
.cajaFormulario{
    max-width: 90%;
    margin: 0 auto;
    background-color: #b8c9ff;
    border-radius: 5px;
}
.seccion{
    margin: 20px;
}
.leyenda{
    font-size: 100px;
    color: #000001;
}
.etiquetas{
    font-size: 40px;
    color: white;
}
.etiquetas{
    font-size: 40px;
    color: white;
}
.etiqueta{
    font-size: 20px;
    color: white;
}
.entrada{
    border-radius: 5px;
    border: 1px solid #000001;
    padding: 5px;
    color: #4255a0;
}
.boton{
    border-radius: 5px;
    border: 1px solid #4255a0;
    padding: 5px;
    font-weight: bolder;
}
.boton:hover{
    background-color: transparent;
    border: transparent;
}
.checkbox{
    font-size: 20px;
    color: #000001;
}
.checkboxPrecio{
    font-size: 10px;
    color: aliceblue;
}
.bloque{
    display: block;
    margin: 0 auto; 
}
.columnasMenor{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.columnaMenor{
    display: inline-block;
    width: 30%;
}
.columnasMayor{
    display: inline-block;
    width: 60%;
}
.columnaMayor{
    display: inline-block;
    width: 60%;
}
.cajaNavegacion{
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000001;
    background-color: #b8c9ff;
    padding: 15px;
    overflow: auto;
}
.cajaBusqueda{
    border-radius: 5px;
    max-width: 90%;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    display: inline;
    overflow: auto;
}
.cajaNavegacionI{
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000001;
    background-color: transparent;
    padding: 15px;
    overflow: auto;
}
.botonNavegacionI{
    color: #b8c9ff;
    text-decoration: none;
    background-color: #000001;
    font-size: 30px;
    font-weight: bolder;
    float: left;
    padding: 10px 15px;
    width: 22%;
    border-radius: 30px;
    border: none;
}
.botonNavegacionI:hover{
    color: #000001;
    text-decoration: none;
    background-color: dimgray;
    font-size: 30px;
    font-weight: bolder;
    float: left;
    padding: 10px 15px;
    width: 22%;
    border-radius: 30px;
}
.botonNavegacion{
    color: #000001;
    text-decoration: none;
    background-color: #b8c9ff;
    font-size: 30px;
    font-weight: bolder;
    float: left;
    padding: 10px 15px;
    width: 22%;
}
.navegacionBoton{
    background-color: #b8c9ff;
}
.navegacionBotonDerecha{
    background-color: #b8c9ff;
}
.botonNavegacion:hover{
    border-radius: 5px;
    background-color: #4255a0;
    color: white;
}
.imagen1, .imagen2{
    width: 16%;
    margin: 70px auto;
    float: left;
}
.imagen2{
    width: 19%;
    overflow: none;
}
.titulo{
    width: 64%; 
    float: left;
}
.tituloGrande{
    font-size: 150px;
    margin: 0 auto;
}
.tituloMediano{
    font-size: 60px;
    margin: 0 auto;    
}
.tituloPequeño{
    font-size: 45px;
    margin: 0 auto;
}
.formulario{
    border: 5px solid #000001;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
.formulario td, .formulario th{
    border: 5px solid #000001;
    font-size: 20px;
    padding: 20px;
}
.formulario label{
    display: block;
    margin: 0;
    font-weight: bolder;
}
.formulario p{
    display: block;
    margin: 0;
    color: gray;
}
.formulario input{
    border: none;
    font-size: 20px;    
}
.informacionFactura p{
    font-weight: bolder;
    padding: 1px;
    font-size: 40px;
}
.informacionFactura p, .informacionFacturaMenor{
    text-align: center;
    color: #000001;
}
.formulario th[class = 'separar']{
    width: 33%;
}
.botonFinal{
    border: 2px solid white;
    padding: 20px;
    margin: 10px auto;
    background-color: #000001;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
}
.botonFinal:hover{
    padding: 22px;
    border: 2px solid #000001;
    background-color: darkgray;
    color: #000001;
    width: 80%;
}
.botonFinalI{
    border: 2px solid white;
    padding: 20px;
    margin: 10px auto;
    background-color: #000001;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 60%;
    margin-left: 20%;
}
.botonFinalI:hover{
    padding: 22px;
    border: 2px solid #000001;
    background-color: darkgray;
    color: #000001;
    width: 60%;
    margin-left: 20%;
}
.select{
    padding: 5px;
    border-radius: 5px
}
.botonAgregar{
    border: none;
    background-color: transparent;
    margin: 10px;
    font-size: 25px;
}
.botonAgregar:hover{
    color:white;
}
.total{
    padding: 5px;
    min-width: 30px;
    background-color: aliceblue;
    border-radius: 5px;
    text-align: center;
}
.columnas{
    display: inline-block;
    width: 50%;
}
.columna{
    display: inline-block;
    width: 33%;
    text-align: center;
}
#lista{
    margin: 10px;
    text-align: left;
}