<div class = 'cajaNavegacion'>
    <a class = 'botonNavegacion' routerLink = '/crearFactura'>
        <ion-icon name="document-outline" class = 'navegacionBoton'></ion-icon> Nueva Factura
    </a>
    <a class = 'botonNavegacion' routerLink = '/generarFactura'>
        <ion-icon name="print-outline" class = 'navegacionBoton'></ion-icon> Registro Facturas
    </a>
    <a class = 'botonNavegacion' routerLink = '/'>
        <ion-icon name="home-outline" class = 'navegacionBotonDerecha'></ion-icon>
    </a>
</div>
<hr class = 'lineaGruesa'/>
<header class = 'caja'>
  <div class = 'imagen1'>
    <img src = '../assets/icono.jpg' alt = 'Logo Ruben Dario Galvis Loaiza' height = '200px' width = '200px'/>
  </div>
  <div class = 'titulo'>
    <h2 class = 'tituloMediano'>Instituto de movilidad Pereira</h2>
    <h3 class = 'tituloPequeño'>Nit: 816000558</h3>
    <h3 class = 'tituloPequeño'>Para: GALCAS Jurídico-Asesores</h3>
    <h1 class = 'tituloGrande'>Factura</h1>
  </div>
  <div class = 'imagen2'>
    <img src = '../assets/GALCAS1.jpg' alt = 'Logo GalCas Jurídico-Asesores' height = '180px'/>
  </div>
</header>